@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,100;0,600;1,400;1,500&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', serif;
}

body{
 display:flex;
 justify-content: center;
 align-items: center;
 background-image: url("./img/13463.png");
 background-position: 40%;
 backdrop-filter: blur(6px);
 flex-direction: column;

}

.container{
    margin-top: 20px;
border-radius: 12px;
padding: 20px;
background: rgb(34,193,195);
background: rgb(6,217,182);
background: linear-gradient(90deg, rgba(6,217,182,1) 8%, rgba(171,236,228,0.6979166666666667) 45%, rgba(171,236,228,1) 87%);


}

h1 {
    width: 385px;
    height: 66px;
    color: white;
    background: #1B83E2;
    font-weight: 400;
    text-align: center;
    padding: 12px;
    font-size: 24x;
    font-weight: 400;


}

button {
    width: 327px;
    height: 48px;
    border: none;
    background: #1B83E2;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    transition: 0.2s;

}
button:hover{
    background-color: #145ca0;
}

.container {

   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;


}



label {

    color: #777777;
    margin-bottom: 12px;
}



main {
    margin: 5px;
    display: flex;
    flex-direction: column;

}

span {
   font-weight: 700;
}

input,
select {
    padding: 12px;
    width: 345px;
    font-weight: 700;
    border: 1px solid #b9b9b9;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    margin-top: 6px;
    margin-bottom: 15px;
    appearance: none;
    box-shadow: 2px 2px 3px rgb(12, 12, 12);

}


input{
    font-weight: 700;
}



section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 36px;
    background-color: white;
    border-radius: 10px;
}
section div{
    margin-top: 12px;
    margin-bottom: 12px;
}
.bandeira{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.moeda{
    font-size: 14px;
    color: #777777;
}
.value{
    font-size: 20px;
    color: #1B83E2;
    font-weight: 700;
}


header h1{
    border-radius: 12px;
    color: black;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1px solid green;
   background-color:#06d9b6;
}

#convert-button {
    background-color:#06d9b6;
    border: 1px solid green;
    color: black;
}

#convert-button:hover {
    background-color:#17f9ff;
}

.moeda-icon {
    z-index: -1;
    width: 50px;
}

@media screen and (max-width: 768px) {
    /* Estilos para telas menores, como tablets */
    body {
        background-position: center;
    }

    .container {
        padding: 20px;
    }

    h1 {
        width: 100%;
    }

    button {
        width: 100%;
    }

    input,
    select {
        width: 100%;
    }

    /* Mais estilos conforme necessário */
}

@media screen and (max-width: 480px) {
    /* Estilos para dispositivos móveis */
    body {
        background-position: center;
    }

    .container {
        padding: 5px;
    }

    h1 {
        font-size: 20px;
        width: 100%;
    }

    button {
        width: 100%;
    }

    input,
    select {
        width: 100%;
    }

    /* Mais estilos conforme necessário */
}